.v-alert,
.v-dialog,
.v-data-table,
.v-btn,
.v-picker,
.v-text-field,
.v-tooltip {
  border-radius: 12px !important;
}
.v-btn--fab,
.v-btn--icon {
  border-radius: 50% !important;
}
.v-btn--rounded {
  border-radius: 28px !important;
}
.v-subheader {
  height: 36px !important;
}
$btn-text-transform: none;

$card-border-radius: 20px;
$card-title-word-break: normal;
$card-title-line-height: 1.7rem;

$navigation-drawer-border-width: 0px;

@import '~vuetify/src/styles/styles.sass';
